@model AutoLot.Model.Entities.Car
@{ 
    ViewData["Title"] = "RazorSyntax";
}

<h1>Razor Syntax</h1>
<hr />
<br />
@for (int i = 0; i < 10; i++)
{
    @i
}
<br />
@{ 
    var foo = "Foo";
    var bar = "Bar";
    var htmlString = "<ul><li>one</li><li>two</li></ul>";
}
<br />
@foo
<br />
@htmlString
<br />
@foo.@bar
<br />
@foo.ToUpper()
<br />
@Html.Raw(htmlString)
<hr />
@{ 
    @:Straight Text
    <div>Value:@Model.Id</div>
    <text>
      Lines without HTML tag
    </text>
    <br />
}
<br />
Interpreted like email
foo@foo.com
<br />
Double @@ to escape and interpret like text
@@foo
<br />
Also interpreted as text
test@foo
<br />
Add parentheses to enable interpolation
test@(foo)
<br />
@*
    Multiline commentaries
    123
*@
<br />
@functions{
    public static IList<string> SortList(IList<string> strings)
    {
        var list = from s in strings orderby s select s;
        return list.ToList();
    }
}
@{ 
    List<string> strings = new() { "C", "A", "z", "F" };
    var sorted = SortList(strings);
}
@foreach (string s in sorted)
{
    @s@:&nbsp;
}
<hr />
@{ 
    Func<dynamic, object> bold = @<strong>@item</strong>;
}
Bold string: @bold("Foo")
<br />
@Html.DisplayForModel("Car")
<hr />
@Html.DisplayForModel("CarWithColors")
<hr />
@Html.EditorForModel("Car")